html{
	height: 100%;
}
body {
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    height:100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

footer {
	
    margin: 20px;

}
/*Custom Styling*/
/*page.jsp'de <div class="wrapper">*/
.wrapper{
	min-height: 100%;
	position: relative;	
	
}
/*page.jsp'de <div class="content">*/
.content{
	padding-bottom: 60px; /*height of the footer*/
}
/*footer.jsp'de <div class="container footer">*/
.footer{
	position: absolute;
	bottom: 10px;
	height: 50px;
	width:100%;	
}
.ol.breadcrumb{
	    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
/*For breadcromb css*/
/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
/* Add a slash symbol (/) before/behind each list item */
ol.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ol.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ol.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.dataTableImg{
	width:96px;
	height:76px;
}
.list-group{
	position:inherit;
	padding-top: 20px;
}
