html{
	height: 100%;
}
body {
  padding-top: 54px;
  height: 100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/*Custom Styling*/
/*page.jsp'de <div class="wrapper">*/
.wrapper{
	min-height: 100%;
	position: relative;
}
/*page.jsp'de <div class="content">*/
.content{
	padding-bottom: 65px /*height of the footer*/
}
/*footer.jsp'de <div class="container footer">*/
.footer{
	position: absolute;
	left : 10%;
	bottom: 15px;
	height: 65px;
	width:100%;	
}